* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	font-weight: normal;
	font-family: Roboto, Helvetica, sans-serif;
	margin: 0;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.container {
	padding: 0 20px;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-size: 55px;
	line-height: 55px;
	color: #000000;
	font-weight: 500;
	font-family: Roboto, Helvetica, sans-serif;
}

h2 {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	font-weight: bold;
	font-family: Roboto, Helvetica, sans-serif;
	text-transform: uppercase;
}

h3 {
	font-size: 18px;
	text-transform: uppercase;
}

fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

.header {
	min-height: 85px;
	padding-bottom: 20px;
	padding-top: 48px;
	background-color: #eeeeee;

}

.header-logo {
	display: block;
	float: left;
	padding-right: 200px;
}

.header-logo img:hover {
	opacity: 0.8;
}

.header-logo img:active {
	opacity: 0.3;
}

.nav-container {
	width: 960px;
	float: left;
}

.header-nav-list {
	float: left;
	text-transform: uppercase;
	margin-top: 35px;
	margin-bottom: 35px;
	font-size: 16px;

}

.header-nav-list li {
	display: inline-block;
}

.header-nav-list a {
	display: block;
	margin-right: 50px;
	text-decoration: none;
	color: #000000;
}

.header-nav-list a:hover {
	color: #fb565a;
}

.header-nav-list a:active {
	opacity: 0.3;
}

.header-nav-link.current{
	border-bottom: 2px solid #fb565a;
}

.login-block {
	float: right;
	margin-top: 35px;
	text-align: right;
}

.header-basket {
	display: block;
	text-transform: uppercase;
	color: #000000;
	text-decoration: none;
}
.header-basket span {
	display: inline-block;
}

.header-basket span:hover {
	color: #fb565a;
}

.header-basket span:active {
	opacity: 0.3;
}

.header-basket::before {
	content: "";
	background-image: url("../img/cart-icon.png");
	padding: 10px 20px;
	background-repeat: no-repeat;
	background-position: left center;
}

.header-basket-current {
	border-bottom: 2px solid #fb565a;
}


.topic {
	padding-bottom: 120px;
	padding-top: 85px;
}

.slider {
	background-color: #eeeeee;
}

.slider-item {
	display: none;
	background-repeat: no-repeat;
	background-position: right;
	min-height: 413px;
}

.slider-item-active {
	display: block;
}

.slider-item-content {
	width: 400px;
	padding-top: 70px;
	padding-bottom: 80px;
}

.slider-item-header {
	font-family: Roboto, Helvetica, sans-serif;
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.slider-item-text {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 45px;
}

.slider-wrapper {
	position: relative;
	width: 100px;
	margin: 0 auto;
}

.slider-dots {
	position: absolute;
	top: -115px;
	left: 50%;
}

/* BUTTONS */
.btn {
	display: inline-block;
	padding: 15px 50px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
	line-height: 18px;
}
.btn:active {
	box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.btn-red {
	background-color: #fb565a;
}

.btn-red:hover {
	background-color: #e74246;
}

.btn-red:active {
	background-color: #d7373b;
}

.btn-green {
	background-color: #00ca74;
}

.btn-green:hover {
	background-color: #00bc6c;
}

.btn-green:active {
	background-color: #00aa62;
}



.btn-yellow {
	background-color: #efc84a;
}



.content {
	padding-top: 60px;
}

.block-services {
	padding-top: 80px;
	padding-bottom: 80px;
}

.block-about-firm-wrapper {
}

.block-about-firm {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding-top: 40px;
	padding-bottom: 40px;
}

.about-firm {
	width: 660px;
	float: left;
	padding-top: 40px;
}

.about-firm-lead {
	font-family: Roboto, Helvetica, sans-serif;
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.about-firm-services {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

.service-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.service-list li:before {
	content: '';
	display: inline-block;
	height: 2px;
	width: 25px;
	margin-bottom: 6px;
	margin-right: 10px;
	background-color: #fb565a;
}


.block-done-projects {
	padding-top: 50px;
	padding-bottom: 50px;
}

.service-features-item {
	width: 300px;
	float: left;
	margin-right: 100px;
	list-style: none;

}

.service-features-item:last-child {
	margin-right: 0px;
}

.about-firm-statistic {
	width: 360px;
	float: right;
}

.done-projects {
	float: left;
	width: 200px;
	margin-right: 45px;
	margin-left: 45px;
	opacity: 0.2;
}

.done-projects:hover {
	opacity: 1;
}

.done-projects:active {
	opacity: 0.1;
}


.block-done-projects {
	border-bottom: 1px solid #eee;
}



.stat-item {
	float: left;
	width: 110px;
	margin-right: 15px;
}

.stat-item:last-child {
	margin-right: 0;
}

.stat-head {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

.stat-item-percent {
	font-size: 45px;
	line-height: 45px;
	margin: 0;
}

.stat-item-description {
	line-height: 18px;
}

.contact-block {
	padding-top: 55px;
	padding-bottom: 55px;
	background-image: url(../img/map.jpg);
	background-repeat: no-repeat;
}
.contact {
	background-color: #ffffff;
	width: 320px;
	padding: 50px;
}

.tel-number {
	text-decoration: none;
	font-size: 16px;
  line-height: 24px;
	color: #000000;
}

.feedback {
	background-color: #aaa;
	width: 960px;
	display: none;
}

.footer {
	padding-top: 80px;
}

.footer-social {
	padding-top: 70px;
	padding-bottom: 70px;
}



.footer-social-buttons {
	width: 260px;
	float: left;
	margin-right: 120px;
}

.social-btn {
	display: inline-block;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin-right: 10px;
	background-color: gray;
}

.social-btn-vk {
	background-image: url(../img/vk-icon.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.social-btn-fb {
	background-image: url(../img/fb-icon.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.social-btn-inst {
	background-image: url(../img/insta-icon.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.footer-discount-info {
	width: 580px;
	float: left;
}
.filter-item {
	background-color: yellow;
	float: left;
}
.catalog {
	background-color: violet;
	float: right;
	width: 760px;
}
.sort-title {
	background-color: #ffffff;
	width: 160px;
	float: left;
}
.sort-type {
	background-color: #eee;
	width: 360px;
	float: right;
}
.catalog-item {
	float: left;
	width: 360px;
	margin-right: 40px;
}
.catalog-item:nth-child(2n) {
	margin-right: 0;
}
.catalog-data {
	padding-bottom: 60px;
}
.pages {
	padding-bottom: 60px;
}
