* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	font-weight: normal;
	font-family: Roboto, Helvetica, sans-serif;
	margin: 0;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.container {
	padding: 0 20px;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: pink;
}

h1 {
	font-size: 55px;
	line-height: 55px;
	color: #000000;
	font-weight: 500;
	font-family: Roboto, Helvetica, sans-serif;
}

h2 {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	font-weight: bold;
	font-family: Roboto, Helvetica, sans-serif;
}

fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

.header,
.slider,
.block-services,
.block-about-firm,
.block-done-projects,
.footer, .topic, .content {
	background-color: #bef;
}

.header {
	min-height: 85px;
	padding-bottom: 20px;
	padding-top: 50px;

}
.nav-container {
	background-color: green;
	width: 960px;
	float: left;
}
.login-block {
	background-color: yellow;
	width: 160px;
	float: right;
}
.topic {
	padding-bottom: 120px;
	padding-top: 85px;
}
.slider-item {
	background-color: violet;
	width: 400px;
	padding-top: 70px;
	padding-bottom: 80px;
}

.content {
	padding-top: 60px;
}

.block-services {
	padding-top: 80px;
	padding-bottom: 80px;
}

.block-about-firm {
	padding-top: 40px;
	padding-bottom: 80px;
}

.about-firm {
	background-color: orange;
	width: 660px;
	float: left;
	padding-top: 40px;
}

.block-done-projects {
	padding-top: 50px;
	padding-bottom: 50px;
}


.service-features-item {
	background-color: tomato;
	width: 300px;
	float: left;
	margin-right: 100px;
}
.service-features-item:last-child {
	margin-right: 0px;
}

.about-firm-statistic {
	background-color: gray;
	width: 360px;
	float: right;
}
.done-projects {
	background-color: chocolate;
	width: 260px;
	float: left;
	margin-right: 40px;
}
.done-projects:last-child {
	margin-right: 0px;
}
.contact-block {
	padding-top: 55px;
	padding-bottom: 55px;
}
.contact {
	background-color: #eee;
	width: 320px;
	padding: 50px;
}
.feedback {
	background-color: #aaa;
	width: 960px;
	display: none;
}

.footer {
	padding-top: 80px;
}

.footer-social {
	padding-top: 70px;
	padding-bottom: 70px;
}

.footer-social-buttons {
	background-color: #bbb;
	width: 260px;
	float: left;
	margin-right: 120px;
}
.footer-discount-info {
	background-color: yellow;
	width: 580px;
	float: left;
}
.filter-item {
	background-color: yellow;
	float: left;
}
.catalog {
	background-color: violet;
	float: right;
	width: 760px;
}
.sort-title {
	background-color: gray;
	width: 160px;
	float: left;
}
.sort-type {
	background-color: #eee;
	width: 360px;
	float: right;
}
.catalog-item {
	float: left;
	width: 360px;
	margin-right: 40px;
}
.catalog-item:nth-child(2n) {
	margin-right: 0;
}
.catalog-data {
	padding-bottom: 60px;
}
.pages {
	padding-bottom: 60px;
}
