* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	font-weight: normal;
	font-family: Roboto, Helvetica, sans-serif;
	margin: 0;
}

h1 {
	font-size: 55px;
	line-height: 55px;
	color: #000000;
	font-weight: 500;
	font-family: Roboto, Helvetica, sans-serif;
}

h2 {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	font-weight: bold;
	font-family: Roboto, Helvetica, sans-serif;
	text-transform: uppercase;
}

h3 {
	font-size: 18px;
	text-transform: uppercase;
}

fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

button {
	cursor: pointer;
}

input::-webkit-input-placeholder {
  color: #444444;
	opacity: 0.5;
}
input::-moz-placeholder {
  color: #444444;
	opacity: 0.5;
}
input::-ms-input-placeholder {
  color: #444444;
	opacity: 0.5;
}
input::-moz-placeholder {
  color: #444444;
	opacity: 0.5;
}

textarea::-webkit-input-placeholder {
  color: #444444;
	opacity: 0.5;
}
textarea::-moz-placeholder {
  color: #444444;
	opacity: 0.5;
}
textarea::-ms-input-placeholder {
  color: #444444;
	opacity: 0.5;
}
textarea::-moz-placeholder {
  color: #444444;
	opacity: 0.5;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.container {
	padding: 0 20px;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	min-height: 85px;
	padding-bottom: 20px;
	padding-top: 48px;
	background-color: #eeeeee;

}

.header-logo {
	display: block;
	float: left;
	margin-right: 200px;
}

.header-logo img:hover {
	opacity: 0.8;
}

.header-logo img:active {
	opacity: 0.3;
}

.nav-container {
	width: 960px;
	float: left;
}

.header-nav-list {
	float: left;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 35px;
	padding: 0;
	font-size: 16px;
}

.header-nav-list li {
	display: inline-block;
}

.header-nav-list a {
	display: block;
	margin-right: 42px;
	text-decoration: none;
	color: #000000;
}

.header-nav-list a:hover {
	color: #fb565a;
}

.header-nav-list a:active {
	opacity: 0.3;
}

.header-nav-link.current{
	border-bottom: 2px solid #fb565a;
}

.login-block {
	float: right;
	margin-top: 30px;
	text-align: right;
}

.header-basket {
	display: block;
	text-transform: uppercase;
	color: #000000;
	text-decoration: none;
}
.header-basket span {
	display: inline-block;
}

.header-basket span:hover {
	color: #fb565a;
}

.header-basket span:active {
	opacity: 0.3;
}

.header-basket::before {
	content: "";
	background-image: url("../img/cart-icon.png");
	padding: 10px 20px;
	background-repeat: no-repeat;
	background-position: left center;
}

.header-basket.current {
	border-bottom: 2px solid #fb565a;
}


.topic {
	padding-bottom: 120px;
	padding-top: 35px;
	text-align: center;
	background-color: #eeeeee
}

.topic h1 {
	margin: 0;
}

.slider {
	background-color: #eeeeee;
}

.slider-item {
	display: none;
	background-repeat: no-repeat;
	background-position: top right;
	min-height: 387px;
}

.slider-item-active {
	display: block;
}

.slider-item-content {
	width: 400px;
	padding-top: 34px;
	padding-bottom: 80px;
}

.slider-item-header {
	display: block;
	font-family: Roboto, Helvetica, sans-serif;
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.slider-item-text {
	font-size: 16px;
	line-height: 24px;
	margin-top: 26px;
	margin-bottom: 39px;
}

.slider .btn {
	width: 240px;
}

.slider-wrapper {
	position: relative;
	width: 100px;
	margin: 0 auto;
}

.slider-dots {
	position: absolute;
	top: -115px;
	left: 50%;
}

/* BUTTONS */
.btn {
	display: inline-block;
	padding: 15px 30px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	border: none;
}
.btn:active {
	box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.btn-red {
	background-color: #fb565a;
}

.btn-red:hover {
	background-color: #e74246;
}

.btn-red:active {
	background-color: #d7373b;
}

.btn-green {
	background-color: #00ca74;
}

.btn-green:hover {
	background-color: #00bc6c;
}

.btn-green:active {
	background-color: #00aa62;
}



.btn-yellow {
	background-color: #efc84a;
}



.content {
	padding-top: 60px;
}

.block-services {
	padding-top: 80px;
	padding-bottom: 80px;
}

.block-about-firm-wrapper {
}

.block-about-firm {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding-top: 40px;
	padding-bottom: 40px;
}

.about-firm {
	width: 660px;
	float: left;
	padding-top: 40px;
}

.about-firm-lead {
	font-family: Roboto, Helvetica, sans-serif;
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.about-firm-services {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

.service-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.service-list li:before {
	content: '';
	display: inline-block;
	height: 2px;
	width: 25px;
	margin-bottom: 6px;
	margin-right: 10px;
	background-color: #fb565a;
}


.block-done-projects {
	padding-top: 50px;
	padding-bottom: 50px;
}

.service-features{
	margin: 0;
	padding: 0;
}

.service-features-header {
	font-size: 23px;
}

.service-features-item {
	width: 300px;
	float: left;
	margin-right: 100px;
	list-style: none;

}

.service-features-item:last-child {
	margin-right: 0px;
}

.about-firm-statistic {
	width: 360px;
	float: right;
}

.done-projects {
	float: left;
	width: 200px;
	margin-right: 45px;
	margin-left: 45px;
	opacity: 0.2;
}

.done-projects:hover {
	opacity: 1;
}

.done-projects:active {
	opacity: 0.1;
}


.block-done-projects {
	border-bottom: 1px solid #eee;
}



.stat-item {
	float: left;
	width: 110px;
	margin-right: 15px;
}

.stat-item:last-child {
	margin-right: 0;
}

.stat-head {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

.stat-item-percent {
	font-size: 45px;
	line-height: 45px;
	margin: 0;
}

.stat-item-description {
	line-height: 18px;
}

.contact-block {
	padding-top: 55px;
	padding-bottom: 55px;
	background-image: url(../img/map.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.contact {
	background-color: #ffffff;
	width: 320px;
	padding: 50px;
}

.contact-header {
	margin: 0;
	margin-top: 2px;
}

.contact-address {
	margin: 0;
	margin-top: 25px;
	margin-bottom: 14px;
  line-height: 19px;
	color: #666666;
}

.contact-tel {
	display: block;
	text-decoration: none;
	font-size: 16px;
  line-height: 24px;
	color: #666666;
	margin-bottom: 34px
}

.contact .btn {
	height: 50px;
	width: 220px;
}



.footer {
	padding-top: 80px;
	position: relative;
}

.feedback {
	display: none;
	width: 100%;
	position: absolute;
	top: -50px;
}

.feedback-wrapper {
	position: relative;
	width: 960px;
	margin: 0 auto;
	padding: 70px 100px;
	background-color: #fff;
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.4);
}

.feedback-close {
	position: absolute;
	right: 100px;
	top: 70px;
	background-image: url("../img/close-cross.png");
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	opacity: 0.3;
}

.feedback-close:hover {
	opacity: 1;
}

.feedback-close:active {
	opacity: 0.1;
}

.feedback-header {
	font-size: 45px;
	line-height: 45px;
	margin: 0;
	margin-bottom: 50px;
	text-transform: none;
}

.feedback-line {
	margin-bottom: 35px;
}

.feedback-contact {
	float: left;
	width: 360px;
	margin-right: 40px;
}

.feedback-contact:last-child {
	margin-right: 0;
}

.feedback-label {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
}

.feedback-input {
	border: 2px solid #eee;
	width: 100%;
	padding: 15px;
	height: 50px;
	outline: none;
}

.feedback-textarea {
	border: 2px solid #eee;
	width: 100%;
	padding: 15px;
	height: 116px;
	margin-bottom: 45px;
	outline: none;
}

.feedback-input.error,
.feedback-textarea.error {
	border: 2px solid #e74246;
	color: #e74246;
}

.feedback-input:hover,
.feedback-textarea:hover {
	border: 2px solid #b4b9bb;
}

.feedback-input:focus,
.feedback-textarea:focus {
	border: 2px solid #000000;
	color: #444444;
}

.feedback-input.error:focus,
.feedback-textarea.error:focus {
	border: 2px solid #e74246;
	color: #e74246;
}

.feedback .btn {
	width: 260px;
}

.price-slider {
	width: 260px;
	margin: 40px 0;
}

.range-controls {
	box-sizing: content-box;
	height: 41px;
	position: relative;
	padding-top: 39px;
	border-radius: 5px;
	background-color: #eeeeee;
	margin-bottom: 15px;
	padding-right: 20px;
	padding-left: 20px;
}

.range-controls .scale {
	height: 2px;
	background-color: #d7dcde;
}

.range-controls .bar {
	width: 70%;
	height: 2px;
	background-color: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	box-sizing: content-box;
	top: 30px;
	left: 0px;
	width: 4px;
	height: 4px;
	border: 8px solid #ffffff;
	background-color: #ababab;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 20px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls {
	font-size: 0;
}

.price-controls label {
	font-size: 16px;
	display: inline-block;
	width: 50%;
}

.price-controls input {
	font-size: 16px;
	text-align: center;
	color: #283136;
	width: 80px;
	padding: 8px 10px;
	margin-left: 10px;
	border: none;
	border-radius: 5px;
	background-color: #eeeeee;
}

.max-price {
	text-align: right;
}


.footer-social {
	padding-top: 65px;
	padding-bottom: 70px;
}

.footer-social-buttons {
	width: 320px;
	float: left;
	margin-right: 80px;
}

.social-btn {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-right: 6px;
	background-color: #e1e1e1;
}

.social-btn:hover {
	background-color: #e74246;
}

.social-btn:active {
	background-color: #d7373b;
	box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social-btn:active span {
	opacity: 0.3;
}

.social-btn span {
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.social-btn-vk {
	background-image: url(../img/vk-icon.png);
}
.social-btn-fb {
	background-image: url(../img/fb-icon.png);
}
.social-btn-inst {
	background-image: url(../img/insta-icon.png);
}

.footer-discount {
	width: 580px;
	float: left;
}

.footer-discount-header {
	display: block;
	font-size: 36px;
	line-height: 36px;
	margin-top: 7px;
}

.footer-discount-text {
	color: #444444;
	font-size: 16px;
	line-height: 22px;
	margin-top: 10px;
}

.filter-item {
	float: left;
}

.filter-group {
	margin-bottom: 20px;
}

.filter-group legend {
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.filter-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.filter-checkbox,
.filter-radio {
	-webkit-appearance: none;
	outline: none;
	display: block;
	float: left;
}

.filter-checkbox::before,
.filter-radio::before {
	content: "";
	display: block;
	padding: 15px;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-position: 0;
}

.filter-checkbox::before {
	background-image: url("../img/checkbox-off.png");
}

.filter-checkbox:checked::before {
	background-image: url("../img/checkbox-on.png");
}

.filter-radio::before {
	background-image: url("../img/radio-off.png");
}

.filter-radio:checked::before {
	background-image: url("../img/radio-on.png");
}

.filter-label {
	float: left;
	padding: 5px 0;
}

.filter-btn {
	width: 100%;
	padding: 15px 20px;
	text-transform: uppercase;
	color: #000;
	font-family: Roboto, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	background-color: #eee;
	border: none;
	border-radius: 5px;
}

.catalog {
	float: right;
	width: 760px;
}

.sort {
		margin-bottom: 60px;
}

.sort-title {
	width: 160px;
	float: left;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
}
.sort-type {
	float: right;
	font-size: 14px;
	line-height: 18px;
	text-align: right;
	text-transform: uppercase;
}

.sort-text {
	display: block;
	float: left;
	padding: 4px 0;
	margin-right: 30px;
	text-decoration: none;
	color: #000;
	opacity: 0.3;
}

.sort-text.active {
	opacity: 1;
}

.sort-text:hover {
	opacity: 0.5;
}


.sort-down,
.sort-up {
	display: block;
	float: left;
	padding: 8px;
	opacity: 0.3;
}

.sort-down-icon {
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 9px 4.5px 0 4.5px;
	border-color: #000 transparent transparent transparent;
}

.sort-up-icon {
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 4.5px 9px 4.5px;
	border-color: transparent transparent #000 transparent;
}

.sort-down:hover,
.sort-up:hover {
	opacity: 0.5;
}

.sort-down.active,
.sort-up.active {
	opacity: 1;
}

.catalog-item {
	float: left;
	position: relative;
	width: 360px;
	margin-right: 40px;
	margin-bottom: 35px;
	border: 1px solid #e9e9e9;
	border-radius: 6px 6px 0 0;
	overflow: hidden;
}
.catalog-item:nth-child(2n) {
	margin-right: 0;
}

.catalog-item img {
	width: 100%;
	display: block;
}

.catalog-item::before {
	content: '';
	display: block;
	height: 40px;
	background-image: url("../img/browser-light.png");
	background-repeat: no-repeat;
}

.catalog-item:hover::before {
	background-image: url("../img/browser-dark.png");
}

.catalog-item-info {
	position: absolute;
	bottom: 0;
	background: #eee;
	display: block;
	padding: 30px;
	text-align: center;
	width: 100%;
	min-height: 230px;
	opacity: 0;
}

.catalog-item:hover .catalog-item-info {
	opacity: 1;
}

.catalog-item-header {
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
 }

.catalog-item-text {
	color: #666;
	margin-bottom: 30px;
}

.catalog-item-btn {
	display: block;
	width: 200px;
	height: 50px;
	margin: 0 auto;
	border-radius: 5px;
}

.catalog-data {
	padding-bottom: 60px;
}
.pages {
	padding-bottom: 60px;
}

.pages a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #eeeeee;
    margin-right: 4px;
    color: #000000;
    text-decoration: none;
		border-radius: 2px;
}
